USE [master]
GO
/****** Object:  Database [QL_HOITHAO]    Script Date: 15/06/2022 11:22:51 CH ******/
CREATE DATABASE [QL_HOITHAO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_HOITHAO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QL_HOITHAO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_HOITHAO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QL_HOITHAO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_HOITHAO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_HOITHAO]
GO
/****** Object:  Table [dbo].[BANGDAU]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGDAU](
	[MaBangDau] [int] IDENTITY(1,1) NOT NULL,
	[TenBangDau] [nvarchar](255) NULL,
	[TrangThai] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBangDau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETBANGDAU]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETBANGDAU](
	[ID] [int] NOT NULL,
	[MaBangDau] [int] NOT NULL,
	[MaDoi] [int] NOT NULL,
	[Tran] [int] NULL,
	[Thang] [int] NULL,
	[Hoa] [int] NULL,
	[Thua] [int] NULL,
	[BanThang] [int] NULL,
	[BanThua] [int] NULL,
	[HieuSo] [int] NULL,
	[Diem] [int] NULL,
	[Loi] [int] NULL,
 CONSTRAINT [PK_CHITIETBANGDAU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDOI]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDOI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaDoi] [int] NOT NULL,
	[MaSo] [varchar](50) NOT NULL,
	[NgayThamGia] [datetime] NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETLICHTHIDAU]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETLICHTHIDAU](
	[ID] [int] NOT NULL,
	[MaLichThiDau] [int] NULL,
	[MaDoi] [int] NULL,
	[MaSanDau] [int] NULL,
 CONSTRAINT [PK_CHITIETLICHTHIDAU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETQUYEN]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETQUYEN](
	[MaQuyenCongViec] [int] IDENTITY(1,1) NOT NULL,
	[MAQUYEN] [int] NULL,
	[MaCongViec] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONGVIEC]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGVIEC](
	[MaCongViec] [int] IDENTITY(1,1) NOT NULL,
	[TenCongViec] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCongViec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPHIEUDK]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUDK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuDK] [int] NOT NULL,
	[Account] [varchar](50) NOT NULL,
	[TongTien] [decimal](18, 0) NULL,
	[HinhThucThanhToan] [int] NULL,
	[NgayThanhToan] [datetime] NULL,
	[AccountHoanTra] [nvarchar](50) NULL,
	[TongTienHoanTra] [decimal](18, 0) NULL,
	[HinhThucHoanTra] [int] NULL,
	[NgayHoanTra] [datetime] NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEULE]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEULE](
	[MaDieuLe] [int] IDENTITY(1,1) NOT NULL,
	[TenDieuLe] [nvarchar](255) NULL,
	[DuongDan] [nvarchar](max) NULL,
	[TomTat] [nvarchar](255) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
	[NgayChinhSua] [datetime] NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDieuLe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOI]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOI](
	[MaDoi] [int] IDENTITY(1,1) NOT NULL,
	[MaThamGia] [varchar](10) NULL,
	[TenDoi] [nvarchar](255) NULL,
	[SoLuong] [int] NULL,
	[NgayTao] [datetime] NULL,
	[MaMon] [int] NOT NULL,
	[MaSo] [varchar](50) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK__DOI__3D89F553B1ED2E98] PRIMARY KEY CLUSTERED 
(
	[MaDoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIOITHIEU]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIOITHIEU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[TrangThai] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHTHIDAU]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHTHIDAU](
	[MaLichThiDau] [int] IDENTITY(1,1) NOT NULL,
	[TrangThai] [int] NULL,
	[NgayThiDau] [datetime] NULL,
	[MaSanDau] [int] NULL,
 CONSTRAINT [PK__LICHTHID__50E22190B74A8E71] PRIMARY KEY CLUSTERED 
(
	[MaLichThiDau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MaLop] [int] IDENTITY(1,1) NOT NULL,
	[TenLop] [char](10) NULL,
	[SiSo] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NgayChinhSua] [datetime] NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONTHIDAU]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONTHIDAU](
	[MaMon] [int] IDENTITY(1,1) NOT NULL,
	[TenMon] [nvarchar](255) NULL,
	[TheLoai] [int] NULL,
	[SoLuongDoi] [int] NULL,
	[SoLuongThanhVien] [int] NULL,
	[LePhi] [decimal](18, 0) NULL,
	[KyQuy] [decimal](18, 0) NULL,
	[NgayTao] [datetime] NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[NgayChinhSua] [datetime] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[HuongDanDK] [nvarchar](max) NULL,
	[TrangThai] [int] NULL,
	[TrangThaiMenu] [int] NULL,
	[MaDieuLe] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANHOI]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANHOI](
	[MaPhanHoi] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[Mail] [varchar](max) NULL,
	[SDT] [varchar](20) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayGui] [datetime] NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhanHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDANGKY]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDANGKY](
	[MaPhieuDK] [int] IDENTITY(1,1) NOT NULL,
	[NgayDangKy] [datetime] NULL,
	[TrangThai] [int] NULL,
	[MaDoi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[MAQUYEN] [int] IDENTITY(1,1) NOT NULL,
	[TENQUYEN] [nvarchar](255) NULL,
	[GHICHU] [nvarchar](255) NULL,
	[TRANGTHAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANDAU]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANDAU](
	[MaSanDau] [int] NOT NULL,
	[TenSanDau] [nvarchar](50) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_SANDAU] PRIMARY KEY CLUSTERED 
(
	[MaSanDau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINTUC]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINTUC](
	[MaTinTuc] [int] IDENTITY(1,1) NOT NULL,
	[TenTinTuc] [nvarchar](1000) NULL,
	[DuongDan] [nvarchar](max) NULL,
	[Hinh] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayViet] [datetime] NULL,
	[TrangThai] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinTuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[MaSo] [varchar](50) NOT NULL,
	[Pass] [varchar](200) NULL,
	[Ten] [nvarchar](255) NULL,
	[Hinh] [nvarchar](max) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [int] NULL,
	[SDT] [varchar](20) NULL,
	[Email] [nvarchar](255) NULL,
	[TK] [nvarchar](255) NULL,
	[Quyen] [int] NULL,
	[TrangThai] [int] NULL,
	[MaLop] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERADMIN]    Script Date: 15/06/2022 11:22:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERADMIN](
	[Account] [varchar](50) NOT NULL,
	[Pass] [nvarchar](255) NULL,
	[HoTen] [nvarchar](255) NULL,
	[SDT] [varchar](20) NULL,
	[Mail] [varchar](255) NULL,
	[NgayTao] [datetime] NULL,
	[TrangThai] [int] NULL,
	[MAQUYEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETBANGDAU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETBANGDAU_BANGDAU] FOREIGN KEY([MaBangDau])
REFERENCES [dbo].[BANGDAU] ([MaBangDau])
GO
ALTER TABLE [dbo].[CHITIETBANGDAU] CHECK CONSTRAINT [FK_CHITIETBANGDAU_BANGDAU]
GO
ALTER TABLE [dbo].[CHITIETBANGDAU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETBANGDAU_DOI] FOREIGN KEY([MaDoi])
REFERENCES [dbo].[DOI] ([MaDoi])
GO
ALTER TABLE [dbo].[CHITIETBANGDAU] CHECK CONSTRAINT [FK_CHITIETBANGDAU_DOI]
GO
ALTER TABLE [dbo].[CHITIETDOI]  WITH CHECK ADD  CONSTRAINT [FK_CTDMADOI] FOREIGN KEY([MaDoi])
REFERENCES [dbo].[DOI] ([MaDoi])
GO
ALTER TABLE [dbo].[CHITIETDOI] CHECK CONSTRAINT [FK_CTDMADOI]
GO
ALTER TABLE [dbo].[CHITIETDOI]  WITH CHECK ADD  CONSTRAINT [FK_CTDMaSV] FOREIGN KEY([MaSo])
REFERENCES [dbo].[USER] ([MaSo])
GO
ALTER TABLE [dbo].[CHITIETDOI] CHECK CONSTRAINT [FK_CTDMaSV]
GO
ALTER TABLE [dbo].[CHITIETLICHTHIDAU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETLICHTHIDAU_DOI] FOREIGN KEY([MaDoi])
REFERENCES [dbo].[DOI] ([MaDoi])
GO
ALTER TABLE [dbo].[CHITIETLICHTHIDAU] CHECK CONSTRAINT [FK_CHITIETLICHTHIDAU_DOI]
GO
ALTER TABLE [dbo].[CHITIETLICHTHIDAU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETLICHTHIDAU_LICHTHIDAU] FOREIGN KEY([MaLichThiDau])
REFERENCES [dbo].[LICHTHIDAU] ([MaLichThiDau])
GO
ALTER TABLE [dbo].[CHITIETLICHTHIDAU] CHECK CONSTRAINT [FK_CHITIETLICHTHIDAU_LICHTHIDAU]
GO
ALTER TABLE [dbo].[CHITIETQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_CV] FOREIGN KEY([MaCongViec])
REFERENCES [dbo].[CONGVIEC] ([MaCongViec])
GO
ALTER TABLE [dbo].[CHITIETQUYEN] CHECK CONSTRAINT [FK_CV]
GO
ALTER TABLE [dbo].[CHITIETQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QUYEN] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[QUYEN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[CHITIETQUYEN] CHECK CONSTRAINT [FK_QUYEN]
GO
ALTER TABLE [dbo].[CTPHIEUDK]  WITH CHECK ADD  CONSTRAINT [FK_CTPDK_ACC] FOREIGN KEY([Account])
REFERENCES [dbo].[USERADMIN] ([Account])
GO
ALTER TABLE [dbo].[CTPHIEUDK] CHECK CONSTRAINT [FK_CTPDK_ACC]
GO
ALTER TABLE [dbo].[CTPHIEUDK]  WITH CHECK ADD  CONSTRAINT [FK_CTPDK_MPDK] FOREIGN KEY([MaPhieuDK])
REFERENCES [dbo].[PHIEUDANGKY] ([MaPhieuDK])
GO
ALTER TABLE [dbo].[CTPHIEUDK] CHECK CONSTRAINT [FK_CTPDK_MPDK]
GO
ALTER TABLE [dbo].[DOI]  WITH CHECK ADD  CONSTRAINT [FK_DMAMON] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MONTHIDAU] ([MaMon])
GO
ALTER TABLE [dbo].[DOI] CHECK CONSTRAINT [FK_DMAMON]
GO
ALTER TABLE [dbo].[DOI]  WITH CHECK ADD  CONSTRAINT [FK_DMASO] FOREIGN KEY([MaSo])
REFERENCES [dbo].[USER] ([MaSo])
GO
ALTER TABLE [dbo].[DOI] CHECK CONSTRAINT [FK_DMASO]
GO
ALTER TABLE [dbo].[LICHTHIDAU]  WITH CHECK ADD  CONSTRAINT [FK_LICHTHIDAU_SANDAU] FOREIGN KEY([MaSanDau])
REFERENCES [dbo].[SANDAU] ([MaSanDau])
GO
ALTER TABLE [dbo].[LICHTHIDAU] CHECK CONSTRAINT [FK_LICHTHIDAU_SANDAU]
GO
ALTER TABLE [dbo].[MONTHIDAU]  WITH CHECK ADD  CONSTRAINT [fk_dieule] FOREIGN KEY([MaDieuLe])
REFERENCES [dbo].[DIEULE] ([MaDieuLe])
GO
ALTER TABLE [dbo].[MONTHIDAU] CHECK CONSTRAINT [fk_dieule]
GO
ALTER TABLE [dbo].[PHIEUDANGKY]  WITH CHECK ADD  CONSTRAINT [FK_PDKMADOI] FOREIGN KEY([MaDoi])
REFERENCES [dbo].[DOI] ([MaDoi])
GO
ALTER TABLE [dbo].[PHIEUDANGKY] CHECK CONSTRAINT [FK_PDKMADOI]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_LOP] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_LOP]
GO
ALTER TABLE [dbo].[USERADMIN]  WITH CHECK ADD  CONSTRAINT [FK_QUYENUSER] FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[QUYEN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[USERADMIN] CHECK CONSTRAINT [FK_QUYENUSER]
GO
USE [master]
GO
